.searchbarTitle {
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  margin: 0;
  margin-top: 0.5%;
}

.bell-img, .search-img {
  filter: brightness(0) invert(1);
}

#dropdown-search-bar::after{
  display: none !important; 
}

.navbar-toggler-icon {
  background-image: url("../assets/images/search.png")!important;
}
#sideDrawer {
  margin: 0 !important;
  background-color: white !important;
}

.collapsed {
  border: none !important;
}

